<div ng-controller="Slide5Ctrl">
	<h2 class="title" ng-bind="slide.title"></h2>

	<div class="main-content">
		<dt><code title="{ function() } – Returns a deregistration function for this listener.">$watch(watchExpression, listener, objectEquality)</code> <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayP1" ng-click="displayP1=!displayP1;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayP1" ng-click="displayP1=!displayP1;"></span> <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayP4" ng-click="displayP4=!displayP4;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayP4" ng-click="displayP4=!displayP4;"></span> <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayP3" ng-click="displayP3=!displayP3;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayP3" ng-click="displayP3=!displayP3;"></span></dt>
		<dd>
			<ul>
				<li>Run several times in <code>$digest()</code> process.</li>
				<li>objectEquality: Compare object for equality rather than for reference.</li>
			</ul>
		</dd>
		<dd ng-show="displayP1">
			<h4>Html <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayHTML1" ng-click="displayHTML1=!displayHTML1;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayHTML1" ng-click="displayHTML1=!displayHTML1;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="h2" ng-show="displayHTML1"></pre>

			<h4>Javascript <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayJS1" ng-click="displayJS1=!displayJS1;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayJS1" ng-click="displayJS1=!displayJS1;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="js2" ng-show="displayJS1"></pre>

			<h4>Demo <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayD1" ng-click="displayD1=!displayD1;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayD1" ng-click="displayD1=!displayD1;"></span></h4>
			<div ng-embed-app ng-set-html="h2" ng-eval-javascript="js2" ng-show="displayD1"></div>
		</dd>

		<dd ng-show="displayP4">
			<h4>Html X <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayHTML4" ng-click="displayHTML4=!displayHTML4;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayHTML4" ng-click="displayHTML4=!displayHTML4;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="h4" ng-show="displayHTML4"></pre>

			<h4>Javascript X <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayJS4" ng-click="displayJS4=!displayJS4;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayJS4" ng-click="displayJS4=!displayJS4;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="js4" ng-show="displayJS4"></pre>

			<h4>Demo X <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayD4" ng-click="displayD4=!displayD4;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayD4" ng-click="displayD4=!displayD4;"></span></h4>
			<div ng-embed-app ng-set-html="h4" ng-eval-javascript="js4" ng-show="displayD4"></div>
		</dd>

		<dd ng-show="displayP3">
			<h4>Html Z <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayHTML3" ng-click="displayHTML3=!displayHTML3;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayHTML3" ng-click="displayHTML3=!displayHTML3;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="h3" ng-show="displayHTML3"></pre>

			<h4>Javascript Z <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayJS3" ng-click="displayJS3=!displayJS3;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayJS3" ng-click="displayJS3=!displayJS3;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="js3" ng-show="displayJS3"></pre>

			<h4>Demo Z <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayD3" ng-click="displayD3=!displayD3;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayD3" ng-click="displayD3=!displayD3;"></span></h4>
			<div ng-embed-app ng-set-html="h3" ng-eval-javascript="js3" ng-show="displayD3"></div>
		</dd>


		<dt><code title="( string | function() )">$apply(exp)</code> / <code>$digest()</code> <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayP0" ng-click="displayP0=!displayP0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayP0" ng-click="displayP0=!displayP0;"></span></dt>
		<dd>
			<ul>
				<li>Pseudo-Code of <code>$apply()</code> <span class="clickable glyphicon glyphicon-info-sign" ng-click="displayHint0=!displayHint0;"></span></li>
				<ul>
					<li style="list-style-type:none;"><pre class="prettyprint linenums" ng-set-text="pseudoApply"></pre></li>
				</ul>
				<li ng-show="displayHint0">Tips</li>
				<ul ng-show="displayHint0">
					<li>It is recommended to use <code>$apply()</code> instead of <code>$digest()</code></li>
					<li title="In order to take advantage of error handling of AngularJS (throw exceptions)">Meanwhile, put your business logic in <code>$apply()</code>, i.e. <code>$apply( function(){ //business logic here } )</code>, instead of invoking it with no argument.</li>
				</ul>
				<li>when to use <code>$scope.$apply()</code> <span class="clickable glyphicon glyphicon-zoom-in" ng-click="displayHint1=!displayHint1;"></span></li>
				<ul  ng-show="displayHint1">
					<li>Async behaviours outside of AngularJS without AngularJS wrappers</li>
					<ul>
						<li>Events => <code>$(element).on( 'click', function(){} )</code></li>
						<li>...</li>
					</ul>
				</ul>
				<li>When not to use <code>$scope.$apply()</code> <span class="clickable glyphicon glyphicon-zoom-in" ng-click="displayHint2=!displayHint2;"></span></li>
				<ul  ng-show="displayHint2">
					<li>Sync behaviours will be handled by AnguarJS</li>
					<ul>
						<li>When creating/initialising controllers.</li>
						<li>When model is changed or exposed functions of <code>$scope</code> is invoked.</li>
						<li>...</li>
					</ul>
					<li>JS async behaviours</li>
					<ul>
						<li>AngularJS provides wrappers</li>
						<ul>
							<li>Events => <code>ng-click</code></li>
							<li>Timeouts => <code>$timeout</code></li>
							<li>jQuery.ajax() => <code>$http</code></li>
						</ul>
					</ul>
				</ul>
			</ul>
		</dd>

		<dd ng-show="displayP0">
			<h4>Html <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayHTML0" ng-click="displayHTML0=!displayHTML0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayHTML0" ng-click="displayHTML0=!displayHTML0;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="h0" ng-show="displayHTML0"></pre>

			<h4>Javascript <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayJS0" ng-click="displayJS0=!displayJS0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayJS0" ng-click="displayJS0=!displayJS0;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="js0" ng-show="displayJS0"></pre>

			<h4>Demo <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayD0" ng-click="displayD0=!displayD0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayD0" ng-click="displayD0=!displayD0;"></span></h4>
			<div ng-embed-app ng-set-html="h0" ng-eval-javascript="js0" ng-show="displayD0"></div>
		</dd>


		<dt><code title="{ Object } – Returns Event object">$broadcast(name, args)</code> / <code title="{ Object } – Returns Event object">$emit(name, args)</code> and <code title="{ function() } – Returns a deregistration function for this listener.">$on(name, listener)</code> <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayP2" ng-click="displayP2=!displayP2;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayP2" ng-click="displayP2=!displayP2;"></span></dt>

		<dd ng-show="displayP2">
			<h4>Html <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayHTML2" ng-click="displayHTML2=!displayHTML2;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayHTML2" ng-click="displayHTML2=!displayHTML2;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="h1" ng-show="displayHTML2"></pre>

			<h4>Javascript <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayJS2" ng-click="displayJS2=!displayJS2;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayJS2" ng-click="displayJS2=!displayJS2;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="js1" ng-show="displayJS2"></pre>

			<h4>Demo <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayD2" ng-click="displayD2=!displayD2;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayD2" ng-click="displayD2=!displayD2;"></span></h4>
			<div ng-embed-app ng-set-html="h1" ng-eval-javascript="js1" ng-show="displayD2"></div>
		</dd>

		<div class="embeded-code-snippet">

			<script type="text/ng-template" id="pseudoApply">
				function $apply(expr) {
					try {
						return $eval(expr);
					} catch (e) {
						$exceptionHandler(e);
					} finally {
						$root.$digest();
					}
				}
			</script>


			<script type="text/ng-template" id="h0">
				<div ng-controller="ScopeCtrl1">
					<div>
						<div ng-bind-template="{{salutation}} {{uname}}!"></div><br />
						<p>
							<button class="btn btn-default" ng-click="reset()">Reset</button>
							<button class="btn btn-default" ng-click="trigger()">Trigger</button>
						</p>
						<p>
							<button class="btn btn-default" ng-click="sayHello()">Say Hello</button>
							<button id="d0-btn" class="btn btn-default" >Async Say Hello 0</button>
							<button id="d1-btn" class="btn btn-default" >Async Say Hello 1</button>
							<button id="d2-btn" class="btn btn-default" >Async Say Hello 2</button>
						</p>
					</div>
				</div>
			</script>

			<script type="text/ng-template" id="js0">
				function ScopeCtrl1 ($scope) {

					function _init() {
						$scope.salutation = "Hi";
						$scope.uname = "world";
					}

					function _sayHello() {
						$scope.salutation = 'Hello';
						$scope.uname = "team";
					}

					_init();

					$scope.sayHello = function(){
						_sayHello();
					}

					$scope.reset = function() {
						_init();
					}

					$scope.trigger = function() {
						// you actually needn't do anything
					}

					$('#d0-btn').on('click', function(){
						_sayHello();
					});

					$('#d1-btn').on('click', function(){
						$scope.sayHello();
					});

					$('#d2-btn').on('click', function(){
						// $scope.$apply(function(){
						// 	_sayHello();
						// });

						$scope.$apply('sayHello()');
					});

				}
			</script>


			<script type="text/ng-template" id="h1">
				<div ng-controller="ScopeCtrl0P">
					<dt>Parent 0</dt>
					<dd>
						<div><button class="btn btn-default" ng-click="clearAllEvents()">Clear All</button></div><br />
						<div ng-include=" 'Buttons' "></div>
						<div ng-include=" 'EventDisplay' "></div>
					</dd>
					<hr />

					<!-- Inheritance Separator -->
					<div ng-controller="ScopeCtrl0C0">
						<dt>Child 0</dt>
						<dd>
							<div ng-include=" 'Buttons' "></div>
							<div ng-include=" 'EventDisplay' "></div>
						</dd>
						<hr />

						<!-- Inheritance Separator -->
						<div ng-controller="ScopeCtrl0C0C0">
							<dt>Child 0 of Child 0</dt>
							<dd>
								<div ng-include=" 'Buttons' "></div>
								<div ng-include=" 'EventDisplay' "></div>
							</dd>
						</div>
						<hr />

						<div ng-controller="ScopeCtrl0C0C1">
							<dt>Child 1 of Child 0</dt>
							<dd>
								<div ng-include=" 'Buttons' "></div>
								<div ng-include=" 'EventDisplay' "></div>
							</dd>
						</div>
						<hr />
					</div>
					<hr />

					<div ng-controller="ScopeCtrl0C1">
						<dt>Child 1</dt>
						<dd>
							<div ng-include=" 'Buttons' "></div>
							<div ng-include=" 'EventDisplay' "></div>
						</dd>
						<hr />

						<!-- Inheritance Separator -->
						<div ng-controller="ScopeCtrl0C1C0">
							<dt>Child 0 of Child 1</dt>
							<dd>
								<div ng-include=" 'Buttons' "></div>
								<div ng-include=" 'EventDisplay' "></div>
							</dd>
						</div>
						<hr />

						<div ng-controller="ScopeCtrl0C1C1">
							<dt>Child 1 of Child 1</dt>
							<dd>
								<div ng-include=" 'Buttons' "></div>
								<div ng-include=" 'EventDisplay' "></div>
							</dd>
						</div>
						<hr />
					</div>
					<hr />
				</div>
			</script>

			<script type="text/ng-template" id="js1">
				function ScopeCtrl0P ($scope, $templateCache) {

					// put template for generating 3 buttons in to template cache
					$templateCache.put('Buttons',
						'<button class="btn btn-default" ng-click="clearEvents()">Clean up</button> '+
						'<button class="btn btn-default" ng-click="emitEvent()">Emit</button> '+
						'<button class="btn btn-default" ng-click="broadcastEvent()">Broadcast</button>'
					);

					// put template for generating event information in to template cache
					$templateCache.put('EventDisplay',
						'<ul>'+
							'<li ng-repeat="evt in eventArr">'+
								'<hr />'+
								'<div ng-bind-template="Watch expression: {{evt.event.name}}"></div>'+
								// '<div ng-bind-template="event: {{evt.event}}"></div>'+ // It's not necessary to display this
								'<div ng-bind-template="args: {{evt.args}}"></div>'+
							'</li>'+
						'</ul>'
					);

					// define events
					var EVENT_ARR = [
						'broadcastP', 'emitP',
						// for children
						'broadcastC0', 'emitC0',
						'broadcastC1', 'emitC1',
						// for children of children
						'broadcastC0C0', 'emitC0C0',
						'broadcastC0C1', 'emitC0C1',

						'broadcastC1C0', 'emitC1C0',
						'broadcastC1C1', 'emitC1C1'
					];

					var regScopes = [];

					$scope.clearAllEvents = function(){
						for (var i = regScopes.length - 1; i >= 0; i--) {
							regScopes[i].clearEvents();
						};
					}

					/**
					 * Initialise current scope, tend to be inherited by its children
					 * @param  {String} cid   Used as the suffix of event for emitting/broadcasting
					 * @param  {String} cname Used as the name of current scope appended in the message of extra argument.
					 * @return N/A
					 */
					$scope.init = function(cid, cname) {
						// cache current scope
						var thisScope = this;

						// add reference to current scope.
						regScopes.push(thisScope);

						// create an array for holding event in current scope
						thisScope.eventArr = [];

						thisScope.clearEvents = function() {
							thisScope.eventArr = [];
						}

						// bind event in the predefined event list
						for (var i = EVENT_ARR.length - 1; i >= 0; i--) {
							thisScope.$on(EVENT_ARR[i], function(event, args){
								// insert received event to event array for displaying
								thisScope.eventArr.push({
									"event": event,
									"args": args
								});
							});
						};

						// add emit event function for current scope
						thisScope.emitEvent = function(){
							thisScope.$emit('emit' + cid, {
								"msg": "I'm emitted by " + cname
							});
						}

						// add broadcast event function for current scope
						thisScope.broadcastEvent = function(){
							thisScope.$broadcast('broadcast'+cid, {
								"msg": "I'm broadcasted by " + cname
							});

						}
					}

					// initialise controller
					$scope.init('P', 'Parent 0');
				}

				/* for children */
				function ScopeCtrl0C0 ($scope) {
					// inherit from parent
					$scope.init('C0', 'Child 0');
				}

				function ScopeCtrl0C1 ($scope) {
					// inherit from parent
					$scope.init('C1', 'Child 1');
				}

				/* for children of children */
				function ScopeCtrl0C0C0 ($scope) {
					// inherit from parent
					$scope.init('C0C0', 'Child 0 of Child 0');
				}

				function ScopeCtrl0C0C1 ($scope) {
					// inherit from parent
					$scope.init('C0C1', 'Child 1 of Child 0');
				}

				function ScopeCtrl0C1C0 ($scope) {
					// inherit from parent
					$scope.init('C1C0', 'Child 0 of Child 1');
				}

				function ScopeCtrl0C1C1 ($scope) {
					// inherit from parent
					$scope.init('C1C1', 'Child 1 of Child 1');
				}
			</script>


			<script type="text/ng-template" id="h2">
				<div ng-controller="ScopeCtrl2">
					<div><span id="proc-count" count="0">0</span> | <span ng-bind="cVal"></span> <button class="btn btn-primary btn-sm" ng-click="changeVal()">Increase</button></div>
				</div>
			</script>

			<script type="text/ng-template" id="js2">
				function ScopeCtrl2 ($scope) {

					$scope.cVal = 0;
					// $scope.wVal = cVal+1;

					$scope.changeVal = function(){
						$scope.cVal++;
					}

					$scope.$watch('cVal', function(newVal, oldVal){
						if(newVal != null){ // for when cVal isn't null or undefined
							$scope.wVal+1;
						}
					})

					$scope.$watch(function(){ // expression | function
						var cntObj = $('#proc-count');

						var count = parseInt(cntObj.attr("count"))+1;

						cntObj.attr("count", count).html(count);

						return $scope.wVal;
					}, function(){ // listener
						// just watching
					});
				}
			</script>


			<script type="text/ng-template" id="h3">
				<div ng-controller="ScopeCtrl3">
					<div ng-bind-template="{{greeting.salutation}} {{greeting.uname}}!"></div><br />

					<div>{{monitor.msg}}:<br />{{ monitor.newVal }}</div><br />

					<div>Name: <input type="text" ng-model="greeting.uname"/></div>
				</div>
			</script>

			<script type="text/ng-template" id="js3">
				function ScopeCtrl3 ($scope) {

					$scope.greeting = {
						"salutation": "Hello",
						"uname": "world"
					}

					$scope.monitor = {
						"msg": "Watching greeting",
						"newVal": {},
					}

					$scope.$watch('greeting', function(newVal, oldVal){
						if (newVal != null) { // skip for when newVal is null or undefined

							// assign the primitive values to monitor
							// avoiding referencing
							$scope.monitor.newVal.salutation = $scope.greeting.salutation;
							$scope.monitor.newVal.uname = $scope.greeting.uname;
						}
					}, true);
				}
			</script>


			<script type="text/ng-template" id="h4">
				<div ng-controller="ScopeCtrl4">
					<div ng-bind-template="{{greeting.salutation}} {{greeting.uname}}!"></div><br />

					<div>{{monitor.msg}}:<br />{{ monitor.newVal }}</div><br />

					<div>Name: <input type="text" ng-model="greeting.uname"/></div>
				</div>
			</script>

			<script type="text/ng-template" id="js4">
				function ScopeCtrl4 ($scope) {

					$scope.greeting = {
						"salutation": "Hello",
						"uname": "world"
					}

					$scope.monitor = {
						"msg": "Watching greeting",
						"newVal": {},
					}

					$scope.$watch('greeting', function(newVal, oldVal){
						if (newVal != null) { // skip for when newVal is null or undefined

							// assign the primitive values to monitor
							// avoiding referencing
							$scope.monitor.newVal.salutation = $scope.greeting.salutation;
							$scope.monitor.newVal.uname = $scope.greeting.uname;
						}
					});
				}
			</script>
		</div>

	</div>
</div>
