@font-face {
	font-family: "Local Ubuntu";
	src: url("lib/ubuntu-font-family/Ubuntu-R.ttf");
}

* {
	font-family: "Ubuntu", "Local Ubuntu"; /*Signature*/
}

/* define the whole scroll bar*/
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* define the buttons of the both sides of the scroll bar */
::-webkit-scrollbar-button {

}

/* define the outer track of the scroll bar */
::-webkit-scrollbar-track {
/*	background: yellow;
	width: 2px;*/
}

/* define the inner track of the scroll bar */
::-webkit-scrollbar-track-piece {
	/*background-color: #E0E0E0;*/
	background-color: rgba(224,224,224, 1);
	border-radius:0;
}

/* define the thumb of the scroll bar */
::-webkit-scrollbar-thumb {
	/*background-color:#909090;*/
	background-color: rgba(144,144,144,0.6);
	border-radius:4px;
}

::-webkit-scrollbar-thumb:hover {
	/*background-color:#9f9f9f;*/
	background-color: rgba(144,144,144, 0.75);
	border-radius:4px;
}

/* define the corner of the scroll bar */
::-webkit-scrollbar-corner {
	border-radius: 3px;
}

/* define the resizer */
::-webkit-resizer {

}

/* override bootstrap */
/*code {
	color: #2B25C7;
	background-color: #F2F5F9;
}*/

.embeded-code-snippet {
	display: none;
}

.tf-trans {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tf-trans-quicker {
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

/* Override */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Ubuntu", "Local Ubuntu"; /*Signature*/
}

/* Override */
html, body {
	height: 100%;
	font-size: 1em;

	/* large */
	/*font-size: 1.125em;*/

	/* larger */
	/*font-size: 1.25em;*/
}

/* Override */
hr {
	border-top: 1px solid #AC9797;
}

h1, .h1 {
	font-size: 2em;
}
h2, .h2 {
	font-size: 1.75em;
}
h3, .h3 {
	font-size: 1.5em;
}
h4, .h4 {
	font-size: 1.25em;
}
h5, .h5 {
	font-size: 1em;
}
h6, .h6 {
	font-size: 0.75em;
}

pre {
	font-size: 0.9em;
}

#slides-view ol.linenums li {
	line-height: 1.5em;
}

#main-view {
	height: 100%;
}

.clear-list-style {
	list-style-type: none;
}

.contents-outline {
	font-size: 2em;
	width: 100%;
	padding: 0 30px;
}

.contents-level {
	font-size: 0.90em;
	list-style-type: upper-roman;
}

.contents-link:hover {
	cursor: pointer;
	text-shadow: 3px 3px 6px #848484;
}

.clickable:hover {
	cursor: pointer;
}

#landing-view {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	height: 100%;
}

#landing-view .main-title {
	height: 40px;
	width: 100%;

	flex-shrink: 0;
}

#landing-view > .main-content {
	height: 100%;
	width: 100%;

	overflow: auto;

	box-shadow: 3px 3px 9px 0px #848484;
}

#landing-view .siganiture {
	width: 100%;
	height: 40px;

	flex-shrink: 0;
	text-align: right;
}

#landing-view .contents-outline {
/*	width: 100%;
	padding: 0 30px;*/
}

#landing-view .contents-level {
	/*list-style-type: upper-roman;*/
}
#landing-view .contents-link:hover {
	color: #0A0A2A;
}

#slides-view {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	padding: 10px 5px;

	height: 100%;
	width: 100%;
}

#slides-view > .main-content {
	height: 100%;
	width: 100%;

	overflow: auto;

	box-shadow: 3px 3px 9px 0px #848484;
	/*margin-bottom: 10px;*/
	margin-right: 10px; /*change to left-right layout*/
}

#slides-view > .main-content .main-content {
	margin: auto;
	width: 95%;
}

#slides-view > .main-content .title {
	margin: 10px;
	padding: 0;
}

#slides-view .aside {
	/*width: 100%;*/

	flex-shrink: 0;
}

#slides-view .aside .btn {
	display: block;
	min-width: 40px;
	margin-bottom: 5px;
}

#slides-view .aside .btn[disabled] {
	color: #0B2488;
	/*font-weight: bold;*/
}

#slides-view .aside .progress {
	height: 10px;
	margin: 0 0 5px 0;
}

#slides-view .main-content:hover + .aside .btn-primary,
#slides-view .main-content:hover + .aside .btn-success {
	/*display: none;*/
	opacity: 0.3;
}

#slides-view .left-panel {

	height: 100%;
	width: 35%;
	min-width: 200px;
	padding: 20px;

	position: absolute;
	left: calc(-35% + 20px);
	top: 0;
	z-index: 1;

	background-color: #CECEF6;

	overflow: hidden;
}

#slides-view .left-panel .contents-link:hover {
	color: white;
}

#slides-view .left-panel:hover {
	left: 0px;

	/*background-color: #A9A9F5;*/
	background-color: rgba(169,169,245,0.8);
	box-shadow: 3px 3px 9px 0px #848484;

	overflow-y: auto;
}

#slides-view .left-panel:hover + .main-content {
	opacity: 0.5;
}

#slides-view .left-panel .contents-outline {
	padding: 0;
}

#slides-view .main-content ol.linenums {
	margin: 0 0 0 -12px;
}

#slides-view .main-content dd {
	margin: 5px 40px 10px;
}

#slides-view .main-content .result {
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 9.5px;
	margin: 0 0 10px;
}
