<div ng-controller="Slide4Ctrl">
	<h2 class="title" ng-bind="slide.title"></h2>

	<div class="main-content">

		<div class="row">
			<div class="col-md-5 col-lg-5">
				<dt>Scope Life Cycle</dt>
				<dd>
					<ul>
						<li>Creation</li>
						<ul>
							<li><code>$new()</code></li>
						</ul>
						<li>Watcher registration</li>
						<ul>
							<li><code>$watch()</code></li>
						</ul>
						<li>Model mutation</li>
						<ul>
							<li><code>$apply()</code></li>
						</ul>
						<li>Mutation observation</li>
						<ul>
							<li><code>$digest()</code></li>
						</ul>
						<li>Scope destruction</li>
						<ul>
							<li><code>$destroy()</code></li>
						</ul>
					</ul>
				</dd>
			</div>
			<div class="col-md-7 col-lg-7">
				<dt>Integration with the browser event loop</dt>
				<dd>
					<img src="slides/img/concepts-runtime.png">
				</dd>
			</div>
		</div>

		<dt>Scope Inheritance <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayP0" ng-click="displayP0=!displayP0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayP0" ng-click="displayP0=!displayP0;"></span> <span class="clickable glyphicon glyphicon-info-sign" ng-click="displayP0Hint0=!displayP0Hint0;"></span></dt>
		<dd>Similar to Javascript scope chain, <code>$scope</code> -> <code>$scope.$parent</code> -> ... -> <code>$rootScope</code></dd>
		<dd ng-show="displayP0">
			<h4>Javascript <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayJS0" ng-click="displayJS0=!displayJS0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayJS0" ng-click="displayJS0=!displayJS0;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="js0" ng-show="displayJS0"></pre>

			<h4>Html <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayHTML0" ng-click="displayHTML0=!displayHTML0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayHTML0" ng-click="displayHTML0=!displayHTML0;"></span></h4>
			<pre class="prettyprint linenums" ng-set-text="s0" ng-show="displayHTML0"></pre>

			<h4>Demo <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayD0" ng-click="displayD0=!displayD0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayD0" ng-click="displayD0=!displayD0;"></span></h4>
			<div ng-embed-app ng-set-html="s0" ng-eval-javascript="js0" ng-show="displayD0"></div>
		</dd>
		<dd ng-show="displayP0Hint0">
			<ul>
				<li>When to consult the prototype chain in Javascript</li>
				<ul>
					<li>If we read childScope.propertyX, and childScope has propertyX, then the prototype chain is not consulted.</li>
					<li>If we read childScope.propertyX, and childScope doesn't have propertyX, then the prototype chain is consulted.</li>
					<li>If we set childScope.propertyX, the prototype chain is not consulted, then propertyX will be created.</li>
				</ul>
			</ul>
		</dd>

		<dt>When and how Angular creates scope <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayP1" ng-click="displayP1=!displayP1;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayP1" ng-click="displayP1=!displayP1;"></span></dt>
		<dd ng-show="displayP1">
			<ul>
				<li>The following create new scopes, and inherit prototypically: <code>ng-repeat</code>, <code>ng-include</code>, <code>ng-switch</code>, <code>ng-view</code>, <code>ng-controller</code>, directive with <code>scope: true</code>, directive with <code>transclude: true</code>.</li>
				<li>The following creates a new scope which does not inherit prototypically: directive with <code>scope: { ... }</code>. This creates an "isolate" scope instead.</li>
				<li>Note, by default, directives do not create new scope -- i.e. the default is <code>scope: false</code>.</li>
			</ul>
		</dd>

		<div class="embeded-code-snippet">
			<div type="text/ng-template" id="s0">
				<div ng-controller="ScopeCtrl0P">
					<dt>Parent 0</dt>
					<dd>
						<div ng-bind-template="{{salutation}} {{uname}}!"></div><br />

						<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">Salutation:</span><input type="text" ng-model="salutation" /></div>
						<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">User name:</span><input type="text" ng-model="uname" /></div>
					</dd>
					<hr />
					<div ng-controller="ScopeCtrl0C0">
						<dt>Child 0</dt>
						<dd>
							<div ng-bind-template="{{salutation}} {{uname}}!"></div>
						</dd>
					</div>
					<hr />
					<div ng-controller="ScopeCtrl0C1">
						<dt>Child 1</dt>
						<dd>
							<div ng-bind-template="{{salutation}} {{uname}}!"></div><br />

							<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">Salutation:</span><input type="text" ng-model="salutation" /></div>
							<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">User name:</span><input type="text" ng-model="uname" /></div><br />

							<div><button class="btn btn-default" ng-click="resetScope()">Reset</button></div>
						</dd>
						<hr />
						<div ng-controller="ScopeCtrl0C1C0">
							<dt>Child 0 in Child 1</dt>
							<dd>
								<div ng-bind-template="{{salutation}} {{uname}}!"></div><br />

								<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">Salutation:</span><input type="text" ng-model="salutation" /></div>
								<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">User name:</span><input type="text" ng-model="uname" /></div><br />

								<div><button class="btn btn-default" ng-click="resetScope()">Reset</button></div>
							</dd>
						</div>
					</div>
					<hr />
					<div ng-controller="ScopeCtrl0C2">
						<dt>Child 2</dt>
						<dd>
							<div ng-bind-template="{{salutation}} {{uname}}!"></div><br />

							<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">Salutation:</span><input type="text" ng-model="$parent.salutation" /></div>
							<div class="row"><span class="col-sm-2 col-md-2 col-lg-2">User name:</span><input type="text" ng-model="$parent.uname" /></div>
						</dd>
					</div>
					<hr />
				</div>
			</div>

			<script type="text/ng-template" id="js0">
				function ScopeCtrl0P ($scope) {
					$scope.salutation = "Hello";
					$scope.uname = "World";
				}

				function ScopeCtrl0C0 ($scope) {
					// empty
				}

				function ScopeCtrl0C1 ($scope) {
					// delete $scope.salutation and $scope.uname
					$scope.resetScope = function() {
						delete $scope.salutation;
						delete $scope.uname;
					}
				}

				function ScopeCtrl0C2 ($scope) {
					// empty
				}

				function ScopeCtrl0C1C0 ($scope) {
					// empty
				}
			</script>

			<script type="text/ng-template">
				// answer to ScopeCtrl0C1
				$scope.resetScope = function() {
					delete this.salutation;
					delete this.uname;
				}
			</script>


			<script type="text/ng-template" id="">

			</script>
		</div>

	</div>
</div>
