<div ng-controller="Slide3Ctrl">
	<h2 class="title" ng-bind="slide.title"></h2>

	<div class="main-content">

		<dt>What are scopes in AngularJS</dt>
		<dd>
			<p>Scopes are objects that</p>
			<ul>
				<li>provide context against which expressions (such as <code>{{username}}</code>) are evaluated.</li>
				<li>provide APIs (<a href="http://docs.angularjs.org/api/ng.$rootScope.Scope#methods_$watch" target="_blank"><code>$watch</code></a>) to observe model mutations.</li>
				<li>provide APIs (<a href="http://docs.angularjs.org/api/ng.$rootScope.Scope#methods_$apply" target="_blank"><code>$apply</code></a>) to propagate any model changes through the system into the view from outside of the "Angular realm" (controllers, services, Angular event handlers).</li>
				<li>provide APIs to propagate (<a href="http://code.angularjs.org/1.0.7/docs/api/ng.$rootScope.Scope#$broadcast"><code>$broadcast</code></a>, <a href="http://code.angularjs.org/1.0.7/docs/api/ng.$rootScope.Scope#$emit"><code>$emit</code></a>) or catch (<a href="http://code.angularjs.org/1.0.7/docs/api/ng.$rootScope.Scope#$on"><code>$on</code></a>) Angular events.</li>
				<li>can be nested to isolate application components while providing access to shared model properties. A scope (prototypically) inherits properties from its parent scope.</li>
			</ul>
		</dd>

		<dt><a href="http://code.angularjs.org/1.0.7/docs/api/ng.$rootScope" target="_blank"><code>$rootScope</code></a>, service provides the global scope for Angular.</dt>
		<dt><a href="http://code.angularjs.org/1.0.7/docs/api/ng.$rootScope.Scope" target="_blank"><code>$scope</code></a>, service provides the local scope for Angular.</dt>
		<dd>
			<ul>
				<li>How to retrieve the scope attached to particular element <span class="clickable glyphicon glyphicon-eye-open" ng-show="displayH0" ng-click="displayH0=!displayH0;"></span><span class="clickable glyphicon glyphicon-eye-close" ng-hide="displayH0" ng-click="displayH0=!displayH0;"></span></li>
				<ul ng-show="displayH0"><li>You can use <code>angular.element(DOM_ELEMENT).scope()</code> to retrieve the associated $scope (not recommended in application, but for debugging).</li></ul>
			</ul>
		</dd>


		<div class="embeded-code-snippet">

		</div>

	</div>
</div>
